:root {
  --primary-color: #65bba0;
  --secondary-color: #ed661f;
  --secondart-color-2: #f5f2e0;
  --dark-green-color: #003127;
  --mid-green-color: #0e8557;
  --light-green-color: #a1d9c5;
  --bg-color: #fcfffe;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Gochi Hand", cursive;

  letter-spacing: 10px;
  font-size: 50px;
}
/* main-section */

.banner {
  min-height: 80vh;
  /* padding-top: 22vh; */
}
.isShow {
  display: none;
}
